* {
    margin:0;
    padding:0;
}
body{
    margin-bottom: 0;
    margin-right: 0;
}
.container1{
    height:100vh;
    width:100vw;
    /*border:2px solid black;*/
    position:relative;
    display:flex;
    flex-direction: column;
    flex-flow: column wrap;
    
}
.container2{
    height: 100dvh;
    width:49dvw;
    position:relative;
    display: flex;
    
    
    /*border:1px solid red;*/
}
.container3{
    height: 100dvh;
    width:51dvw;
    position:relative;
    display: flex;
    
    background: rgb(229, 244, 253);
   /* border:1px solid blue;*/
    text-align: center;
    

}
.container4{
    height: 64dvh;
    width:40dvw;
    background-color: aliceblue;
    margin-top:17dvh;
    margin-left:5dvw;
    position:relative;
    box-shadow: 2px 2px 5px #2773a5;
    border-radius: 4px;

    
}
img{
    height:100%;
    width:100%;
}
.first{
    margin-top: 4dvh;
    text-align: center;
    font-size: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.second{
    margin-top: 2dvh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vw;
    color: darkgray;
}
.third{
    text-align: left;
    margin-top: 5dvh;
    margin-left:5dvw;
    color: #4c4b4b;
    font-size: 1vw;
    
}
.my-input{
    margin-top: .3vw;
    height: 6vh;
    width:30vw;
    border-radius: 5px;
    border-style: hidden;
}
#button{
    height: 6vh;
    width:30vw;
    border-radius: 5px;
    border-style: hidden;
    color:whitesmoke;
    background-color: aqua;
    font-weight: bold;
    font-size: 1vw;
    margin-top: 4vh;
    position: relative;
}
#button:hover{
    font-weight:bolder ;
    background-color: blue;
    font-size: 1.2vw;
    
}
.forth{
    text-align: center;
    font-size: 1vw;
    margin-top: 5vh;
    color: #4c4b4b;

}
span{
    color:blue;
    cursor: pointer;
}
span:hover{
    font-size: 1.2vw;
    font-weight: bold;
    
}
#email{
    font-size: .8vw;
    color: gainsboro;
}
#password{
    font-size: .8vw;
    color: gainsboro;
}