* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 15%;
    overflow: scroll;
    /*border: 2px solid black;*/

}
.Container{
    height:150px;
    width: 1400px;
    /*border:1px solid green;*/
    display: inline-block;
    overflow: hidden;
}

.abc{
    margin-left: 20px;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: crimson;
    display: inline-block;
    list-style: none;
    cursor: pointer;
    overflow: hidden;
}
.abc:hover{
    color: blue;
    font-weight: bold;
}
img {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
  }
  
.header-tab {
    margin-left: 15%;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    
   /* border: 1px solid black;*/
  }
.button1{
    width:200px;
    height: 80px;
    vertical-align: top;
    background-color: rgb(132, 239, 239);
    color: rgb(61, 127, 202);
    text-align: center;
    display: inline-block;
    padding: 23px;
    position:relative;
    font-weight: bolder;
    font-size: 1.5em;
    margin-left: 10%;
    /*border-color:black;*/
    border-radius: 10px;
    overflow: hidden;
}
.button1:hover{
    color: blue;
    font-weight: bold;
    cursor: pointer;
    background-color: aqua;
    text-decoration: underline;
}
.notebook{
    height:80vh;
    width:90vw;
    /*border:1px solid brown;*/
    display: inline-block;
    position:relative;
}
.book{
    width:42vw;
    height:70vh;
    /*border:1px solid green;*/
    display:inline-block;
    overflow: hidden;
}
.firsttext{
    margin-top: 10%;
    margin-left:5% ;
    text-align: left;
    font-weight: bolder;
    font-size: 4em;
}
.secondtext{
    margin-left:5% ;
    text-align: left;
    font-weight: bolder;
    color:cyan;
    font-size: 3em;

}
.thirdtext{
    margin-left:5% ;
    text-align: left;
    color:darkgray;
    font-size: 1.5em;

}
.button2{
    width:300px;
    height: 80px;
    vertical-align: bottom;
    background-color: rgb(132, 239, 239);
    color: rgb(61, 127, 202);
    text-align: center;
    display: inline-block;
    padding: 23px;
    position:relative;
    font-weight: bolder;
    font-size: 1.5em;
    margin-left: 25%;
    /*border-color:black;*/
    border-radius: 15px;
    margin-top: 50px;
}
.button2.button2:hover{
    color: blue;
    font-weight: bold;
    cursor: pointer;
    background-color: aqua;
    text-decoration: underline;
}
.image1{
    height: 70dvh;
    width:45dvw;
    display: inline-block;
    /*border:1px solid blue;*/
    margin-left:2%;
    position:absolute;
    overflow: hidden;

}
.image2{
    margin-left:20%;
    margin-top: 11%;
    vertical-align: right;
    overflow: hidden;
}